.entirerow
{
    width: 100%;
    float: left;
}
.left
{
    width: 15%;
    height: 26px;
    line-height: 26px;
    float: left;
    text-align: right;
    vertical-align:middle;
    margin: 0;
    padding: 0;
}
.left2
{
    width: 22%;
    height: 26px;
    line-height: 26px;
    float: left;
    text-align: right;
    vertical-align:middle;
    margin: 0;
    padding: 0;
}
.longright
{
    float: left;
    width: 83%;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}
.longright2
{
    float: left;
    width: 77%;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}
.right
{
    float: left;
    width: 34%;
    height: 26px;
    line-height: 26px;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}
.right2
{
    float: left;
    width: 27%;
    height: 26px;
    line-height: 26px;
    vertical-align:middle;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}
.right select
{
    margin-top:4px;    
}
.dateinput
{
    width: 97%;
    height:26px;
    line-height:26px;
    vertical-align:middle;
    _width: 96%;
    float: left;
}
.dateimg
{
    width: 3%;
    float: right;
    cursor:pointer;
    _float:left;
    padding-top:3px;
}
