@{
    Layout = "~/Views/Shared/_Index.cshtml";
    ViewBag.Title = "文字冒险模拟器";
}
<style>
    body {
        background-color: #eee;
        height: 100%;
    }
    .courseContent {
        line-height: 30px;
        padding-left:40px;
        font-size: 18px;
        height:auto;
        padding-right:40px;
    }

   .labelheight {
        line-height: 25px;
        font-size: 18px;
        color: #666;
    }
</style>

<!--内容填充-->
<div style="background-color: #eee">
    <!--课程详情模块 begin-->
    <div class="height20"></div>
    
    <section class="container" style="width:900px;">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" style="background-color: #fff;min-height: 800px">
                    <div class="height20"></div>
                    <div class="text-center">
                        <span class="loginText" id="gameTitle"></span>
                    </div>
                    <div class="height20"></div>
                    <div class="courseContent" id="gameSection">
                    </div>
                    <div class="height20"></div>


                    <div style="padding-left:60px;padding-right:60px;" id="sectionChoices">
                        
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary bgBlue bdBlue width120" id="btnMain"  onclick="goMain();">返回介绍</button>
                        <button class="btn btn-primary bgBlue bdBlue width120" id="btnRestart" onclick="jumpRestart();">重头开始</button>
                        <button class="btn btn-primary bgBlue bdBlue width120" style="display:none;" onclick="jumpSection();" id="btnJump">进入选项</button>
                    </div>
                </div>
                


                <div class="height20"></div>

            </div>


        </div>
    </section>
    <!--课程详情模块 end-->


    <div class="height50">
        <input id="startSection" type="text" style="display:none;" />

    </div>


</div>
<!--<script src="~res/UI/Content/js/yifanToast.js"></script>-->
<!--内容填充-->
<script type="text/javascript">
    var GameId = @ViewBag.GameId;



    var loadGameDetail = function () {
        var args = JSON.stringify([GameId]);
        onSimulateCallClick(mainContractAddress, "getGameInfo", args, function (e) {
            var item = JSON.parse(e.result);
            if (item.title) {



                loadInfo("gameTitle", item.title);
                var startSection = item.startSection;

                    if(startSection && startSection != "")
                    {
                        $("#startSection").val(startSection);
                        loadGameSection(startSection);
                    }  

            } else {

            }

        });

    };
    
    var goMain = function () {
        window.location.href = '@Url.Action("Detail", "GamePage")?id=' + GameId;
    };

    var jumpSection = function () {
        var jumpKeyword = $("input[name='optionsRadios']:checked").val(); 
        loadGameSection(jumpKeyword);   
    };

    var jumpRestart = function () {
        var jumpKeyword = $("#startSection").val();
        loadGameSection(jumpKeyword);   
    };

    var loadGameSection = function (keyword) {
        var param = {gid:GameId,keyword:keyword};
        var args = JSON.stringify([param]);
        
        var $gameSection = $("#gameSection");
        $gameSection.empty();
        var $sectionArea = $("#sectionChoices");
        $sectionArea.empty();

        onSimulateCallClick(mainContractAddress, "getSectionByKeyword", args, function (e) {
            var item = JSON.parse(e.result);
            if (item.keyword) {
                loadInfoHtml("gameSection", item.content);

                var arrChoices = item.sectionChoices;
                if(arrChoices !=null && arrChoices.length > 0)
                {
                    
                    var flag = "checked";
                    for (var i = 0; i < arrChoices.length; i++) {
                        var item = arrChoices[i];
                        var desc = item.desc;
                        //desc = "在本章中，我们将学习如何使用 Bootstrap 创建表单。Bootstrap 通过一些简单的 HTML 标签和扩展的类即可创建出不同样式的表单.";
                        $sectionArea.append('<div class="radio labelheight">\
                            <label>\
                                <input type="radio" name="optionsRadios" id="optionsRadios' + i + '" value="' + item.keyword + '" ' + flag + '> ' + desc + '\
                            </label>\
                        </div>');
                        flag = "";
                    }
                    $("#btnJump").show();

                }
                else {
                    $("#btnJump").hide();
                }
                



                //sectionChoices  [{\"desc\":\"d3\",\"keyword\":\"s2\"},{\"desc\":\"d4\",\"keyword\":\"s3\"}]


            } else {

            }

        });

    };

    function loadInfo(id, content) {
        if (id == "" || id == null || id == "undefined") {
            return;
        }
        else {
            if (content != null && content != "null") {
                $("#" + id).text(content);
            }
            else {
                $("#" + id).text('');
            }
        }
    }

    function loadInfoUrl(id, content) {
        if (id == "" || id == null || id == "undefined") {
            return;
        }
        else {
            if (content != null && content != "null") {
                var url = "<a target='_blank' href='http://" + content.replace("http://","") + "'>"+content+"</a>";
                $("#" + id).html(url);
            }
            else {
                $("#" + id).html('');
            }
        }
    }

    function loadInfoHtml(id, content) {
        if (id == "" || id == null || id == "undefined") {
            return;
        }
        else {
            if (content != null && content != "null") {
                $("#" + id).html(content);
            }
            else {
                $("#" + id).html('');
            }
        }
    }




    (function ($) {

        $(function () {
            loadGameDetail();

        });

    })(jQuery);




</script>

